//Colores//
$color-rosado: #ff99c8;
$color-amarillo: #fcf6bd;
$color-verde: #d0f4de;
$color-azul: #a9def9;
$color-morado: #e4c1f9;

$color-fondo:#0d3b66;

//Dimensiones cajas//
$borde-caja: 2px solid black;
$ancho-caja-minimo: 500px;
$ancho-caja-maximo: 500px;
$altura-caja: 500px;
$padding-caja: 5px;

$color-input: #fff;
